.bodyin{
  min-width:800px;
  width:98%;
  max-width:980px;
  margin:0px auto;	
  background-color:#fff;
}
.popularcontainers{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  overflow:auto;
}

.popularcontainer{
  min-width:400px;
  width:50%;
  margin:0px auto;
  font-family: "TeeFranklin-Bold", "Helvetica Neue", Helvetica, sans-serif;
}
.populartitle{
  font-size: 2em;
  color: #575757;
  margin:0px;
}
.populardescription{
  font-size:13px;
  color: #575757;
  margin-top:5px;
  margin-bottom:15px;
}

.floatleft{
  float:left;
}
.floatright{
  float:right;
}

.gcsummarybox{
  width:390px;
  border:1px #ccc solid;
  background-color:#fff;
  margin-left:auto;
  margin-right:auto;
}
.gcsummaryrow{
  width:370px;
  height:43px;
  display:table;
  padding:10px;
  border-bottom:solid #ddd 1px;
  overflow:auto;
}
.gcsummaryrow:hover{
  background-color:#e6f4ff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6f4ff));
}
.gcsummaryimg{
  width:75px;
  height:43px;
  float:left;
  display:block;
}
.gcardimg{
  width:96%;
}
.gcsummarystore{
  height:43px;
  max-width:170px;
  float:left;
  font-size:15px;
  color:#333;
  font-weight:bold;
  vertical-align:middle;
  display:table-cell;
}
.gcsummarybefore{
  font-size:12px;
  text-align:right;
}
.gcsummaryafter{
  width:105px;
  height:43px;
  float:right;
  font-size:22px;
  font-weight:bold;
  text-align:right;
  color:#45b0e1;
}
.gcblue{
	color:#0a84c0;
}
.gcred{
	color:#e42477;
}
.gcgreen{
	color:#4dac26;
}
.gcgrey{
  color:#788a91;
}
.gcbggreen{
	background-color:#4dac26;
	color: #fff;
}
.gcbgblue{
	background-color:#0a84c0;
	color:#fff;
}

.greyedout{
  opacity: 0.25;
  filter: alpha(opacity=25); /* msie */
  background-color: #000;
}
.gcbox{
  width:20%;
  height:180px;
  display:block;
  float:left;
  font-family: 'Helvetica Neue', 'Helvetica';
}
.gcbox:hover{
  background-color:#e6f4ff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6f4ff));
}
.gcpercent{
  text-align:center;
  font-size:20px;
  font-weight:bold;
  padding-bottom:5px;
  color:#06C;
}
.gcstore{
  text-align:center;
  font-size:14px;
  color:#788a91;
}
.gcimg{
  text-align:center;
  padding-bottom:5px;
}
.gcalllabel{
  font-size:15px;
  font-weight:bold;
  padding: 10px 12px;
  margin-bottom:10px;
  font-weight:normal;
  border-radius:3px;
  display:block;
  overflow:auto;
  font-family: 'Helvetica Neue', 'Helvetica';
}

.imgcard{
	border-radius:3px;
  width:69px;
}
